<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href=""><img src="/assets/EG_logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top" href="#"></a>
    <button 
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="navbarNav"
    aria-cotrols="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
    >
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a href="product" class="nav-link"><strong>Product</strong></a>
        </li>
        <li class="nav-item active">
            <a href="cat-fact" class="nav-link"><strong>Cat Fact</strong></a>
        </li>
        <li class="nav-item active">
            <a href="university" class="nav-link"><strong>Universities</strong></a>
        </li>
    </ul>
</div>
</nav>
